packages/**/public
packages/**/config
packages/**/.cache
packages/**/node_modules
packages/**/gatsby-browser.js
packages/**/gatsby-config.js
packages/**/gatsby-node.js
packages/**/__gatsby-node.js
packages/**/postcss.config.js
packages/**/tailwind.config.js
.eslintrc.js
commitlint.config.js
lint-staged.config.js
release.config.js
/reports
/dist
