*/public
*/config
@*/*/config
*/.cache
@*/*/.cache
*/node_modules
@*/*/node_modules
.eslintrc.js
commitlint.config.js
*/gatsby-browser.js
@*/*/gatsby-browser.js
*/gatsby-config.js
@*/*/gatsby-config.js
*/gatsby-node.js
@*/*/gatsby-node.js
*/__gatsby-node.js
@*/*/__gatsby-node.js
lint-staged.config.js
release.config.js
*/tailwind.config.js
@*/*/tailwind.config.js
